@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgba(142, 59, 220, 0.568);
    font: normal 14pt arial;

}

header {
    text-align: center;
    color: white;
    margin-top: 20px;
}

section {
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85vw;
    padding: 20px;
    border-radius: 10px;
    line-height: 35px;
    box-shadow: 2px 2px rgba(120, 120, 120, 0.349);
}

input#ano {
    border-radius: 5px;
}

input#botao {
    border-radius: 3px;
    width: 245px;
    padding: 5px;
    border-color: rgba(133, 133, 133, 0.275);
}

div#res {
    text-align: center;
    margin-top: 10px;
    
   
}

div#img {
    text-align: center;
  
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}